<div>
  <div class="call-box-bottom">
    <!-- <a class="button button-primary button-highlighted" href="https://multiplatformkickstarter.lemonsqueezy.com/checkout/buy/1310894e-e1ff-4071-84c3-7c230c8af878" target="_blank" rel="noopener noreferrer">SUBSCRIBE NOW - {{ 49 | lang.FormatCurrency 2 "USD" }}/<small>month</small></a> -->
    <a class="button button-secondary" href="https://github.com/MultiplatformKickstarter/adoptme" target="_blank" rel="noopener noreferrer">BOOK NOW</a>
  </div>
</div>
